<div class="container">
  <h1 class="m-5 bg-light w-50 text-center">管理者ログイン</h1>
  <%= form_with model: @admin, url: admin_session_path, local: true do |f| %>
    <table class="m-auto">
      <tr>
        <td><%= f.label "メールアドレス" %></td>
        <td><%= f.email_field :email, autofocus: true, autocomplete: "email", size:"40x10", class:"form-control m-3" %></td>
      </tr>
      <tr>
        <td><%= f.label "パスワード" %></td>
        <td><%= f.password_field :password, autocomplete: "current-password", class:"form-control m-3" %></td>
      </tr>
      <td></td>
      <td><%= f.submit "　 ログイン　 ", class:"btn btn-primary btn-sm ml-3" %></td>
    </table>

  <% end %>
</div>
