<h1 class="bg-light w-25 m-5">ログイン</h1>
<h2 class="bg-light w-50 pl-2 m-5">会員の方はこちらからログイン</h2>

<%= form_with model: @customer, url: customer_session_path, local: true do |f| %>
<div class="mx-auto d-flex align-items-center justify-content-center">
  <table>
    <tr>
      <td><%= f.label 'メールアドレス　　　' %></td>
      <td><%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder:"sample@gmail.com", size:50 %></td>
    </tr>
    <tr>
      <td><%= f.label 'パスワード' %></td>
      <td><%= f.password_field :password, autocomplete: "current-password", size:50 %></td>
    </tr>
    <tr>
      <td></td>
      <td><%= f.submit "　ログイン　", class:"btn btn-primary" %></td>
    </tr>
  </table>
</div>
<% end %>

<h2 class="bg-light w-50 pl-2 ml-5 my-3">会員登録がお済でない方</h2>
<p class="ml-5 pl-3"><%= link_to "こちら", new_customer_registration_path %>から新規登録を行って下さい。</p>